# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environments
.venv/
venv/
env/
.env

# Code editor
.vscode/

# OS files
.DS_Store

# Logs / temp
*.log
logs.txt
tmp/
temp/

# Build outputs
build/
dist/
*.egg-info/

# Code Ocean / runtime outputs
../results/
results/
